## SQL Analysis ##

# Part 1

In [1]:
%load_ext sql

In [2]:
%sql mysql://admin:sql_2021@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject

A simple overview of the technologies being assessed, and the category that they fall under.

In [3]:
%%sql
SELECT
	`name` AS Technology,
	`type` AS Category
FROM
	technology
	JOIN technology_type ON technology.technology_type_id = technology_type.id
WHERE
	technology.id IN(
		SELECT
			technology_id FROM tweet);

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
18 rows affected.

[('Angular', 'framework'),
 ('Django', 'framework'),
 ('Vue', 'framework'),
 ('React', 'framework'),
 ('Flutter', 'framework'),
 ('jQuery', 'framework'),
 ('JavaScript', 'language'),
 ('Rust', 'language'),
 ('GoLang', 'language'),
 ('Java', 'language'),
 ('Python', 'language'),
 ('C++', 'language'),
 ('C#', 'language'),
 ('HTML', 'language'),
 ('CSS', 'language'),
 ('SQL', 'language'),
 ('Pearl', 'language'),
 ('PHP', 'language')]

Pretty standard output. 6 frameworks and 12 languages being analyzed.

----------------------------------------------------------------------------------------------------------------------------

This query provides counts of tweets in the database broken down by each of the technologies. This will provide context for future queries that look at engagment.

In [4]:
%%sql
SELECT
	technology.name AS Technology,
	count(*) AS TotalTweets
FROM
	tweet
	JOIN technology ON tweet.technology_id = technology.id
GROUP BY
	technology_id
ORDER BY
	TotalTweets DESC;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
18 rows affected.

[('HTML', 5299),
 ('C#', 5299),
 ('C++', 5299),
 ('Java', 5299),
 ('PHP', 5298),
 ('Python', 5298),
 ('JavaScript', 5298),
 ('CSS', 3574),
 ('React', 2927),
 ('SQL', 1446),
 ('Flutter', 1254),
 ('Angular', 1115),
 ('Django', 666),
 ('Rust', 650),
 ('jQuery', 551),
 ('GoLang', 532),
 ('Vue', 343),
 ('Pearl', 126)]

As to be expected, the categories with the most tweets are some of the most prevelant programming languages, with many of the frameworks being less talked about.

----------------------------------------------------------------------------------------------------------------------------

This similar query breaks down the number of tweets by the technology type the tweet represents. This is more helpful context to keep in mind when it comes to answering the the primary question.

In [5]:
%%sql
SELECT
	technology_type. `type` as Category,
	count(*) AS TotalTweets
FROM
	tweet
	JOIN technology ON technology.id = tweet.technology_id
	JOIN technology_type ON technology_type.id = technology.technology_type_id
GROUP BY
	Category
ORDER BY
	TotalTweets DESC;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
2 rows affected.

[('language', 43418), ('framework', 6856)]

This result confirms that was resonably clear from the previous query. Specific web frameworks are less talked about than the most popular programming languages. This makes sense, especially when considering that the basis for almost all of these frameworks is JavaScript.

----------------------------------------------------------------------------------------------------------------------------

This query creates a view that acts as an identical copy of the tweet table, but contains the full URL of the tweet. All tweets have a unique ID which is part of the URL to the tweet. This query forms the URL from the tweet ID, so a tweet can be looked up manualy if needed.

In [6]:
%%sql
CREATE VIEW tweet_with_url AS (

	SELECT
		id,
		username,
		content AS raw_text,
		clean_text,
		replies,
		likes,
		quote_tweets,
		retweets,
		CONCAT('https://twitter.com/t/status/', url) as url,
		sentiment,
		subjectivity,
		technology_id
	FROM
		tweet

);

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
(MySQLdb._exceptions.OperationalError) (1050, "Table 'tweet_with_url' already exists")
[SQL: CREATE VIEW tweet_with_url AS (

	SELECT
		id,
		username,
		content AS raw_text,
		clean_text,
		replies,
		likes,
		quote_tweets,
		retweets,
		CONCAT('https://twitter.com/t/status/', url) as url,
		sentiment,
		subjectivity,
		technology_id
	FROM
		tweet

);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

----------------------------------------------------------------------------------------------------------------------------

This query identifies overlapping tweets. Overlapping tweets being defined as tweets identical tweets that were pulled in muptiple searches for muptiple different technologies.

In [7]:
%%sql
WITH `overlaps` AS (

SELECT
	id,
	username,
	url AS path,
	CASE WHEN (SELECT COUNT(*) FROM tweet WHERE url = path) > 1 THEN 1 ELSE 0 END AS overlap
FROM
	tweet
)

SELECT count(*) AS OverlappingTweets FROM `overlaps` WHERE overlap = 1;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
1 rows affected.

[(25587,)]

ALTER TABLE `PortfolioProject`.`tweet`
ADD INDEX `tweet_url_idx` (`url`) USING BTREE;

This query shows that nearly half of the tweets in the database reference two or more different technologies. This is insight into how data collection could be improved for a project like this.

This query will show the top 10 authors of tweets in terms of how many of their tweets appear in the database. This is helpful for identifying potential spam tweets.

In [13]:
%%sql
SELECT
	username,
	count(*) AS NumberOfTweets
FROM
	tweet
GROUP BY
	username
ORDER BY
	NumberOfTweets DESC
LIMIT
	10;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
10 rows affected.

[('1011565812', 1581),
 ('1490214721131540480', 856),
 ('183984039', 696),
 ('1401391924754325512', 622),
 ('1507969499483746305', 614),
 ('1332714745871421443', 476),
 ('2420443250', 413),
 ('718463394278477824', 306),
 ('1279550512040341504', 300),
 ('134434122', 278)]

As we can see, the author with ID: 1011565812 is responsible for over 1500 tweets alone. This information is helpful for the data cleaning process, as these are automated tweets that do not express a particular sentiment.

---

# Part 2

Business question: What is the most popular framework and language?

The following query returns the top framework, and the top language ranked by the number of engagments per tweet pulled. This metric aims to measure how active the community surrounding a particular technology is. A more active community means more active development for open source projects, including additional features and security patches.

The query uses multiple common table expressions, a dense rank window function, aggregate functions with a group by and multiple joins.

In [14]:
%%sql
WITH engagment_metrics AS (
	SELECT
		technology. `name`,
		technology_type.`type`,
		count(*) AS Tweets,
		SUM(likes) AS TotalLikes,
		SUM(replies) AS TotalReplies,
		SUM(quote_tweets) AS TotalQuotes,
		SUM(retweets) AS TotalRetweets,
		SUM(likes) + SUM(replies) + SUM(quote_tweets) + SUM(retweets) AS TotalEngagements
	FROM
		tweet
		JOIN technology ON technology.id = tweet.technology_id
		JOIN technology_type ON technology_type.id = technology.technology_type_id
	GROUP BY
		technology. `name`
),
PerTweetEngagment AS (
SELECT
	*,
	(TotalEngagements / Tweets) AS EngagmentsPerTweet
FROM 
	engagment_metrics
ORDER BY 
	EngagmentsPerTweet DESC
),
EngagementRanking AS(
SELECT `name`, `type`, EngagmentsPerTweet,
	DENSE_RANK() OVER ( PARTITION BY `type` ORDER BY EngagmentsPerTweet DESC) AS TechnologyTypeRank

FROM PerTweetEngagment
)

SELECT 
	* 
FROM 
	EngagementRanking
WHERE 
	TechnologyTypeRank = 1;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
2 rows affected.

[('Flutter', 'framework', Decimal('20.3102'), 1),
 ('GoLang', 'language', Decimal('16.5940'), 1)]

The results show Flutter has having the highest engegments per tweet of all the frameworks, and GoLand as having the highest engegments per tweet of all the languages. This could be helpful information for a startup, or existing company who is chosing a tech stack for a new product. Of couse many other factors should be taken into account, apart from Twitter engagments, when making a choice like this, but this data may also factor into the decision, as it is an indication of how active the community is.

This query identifies potiental spam tweets that are being counted in the aggregate functions. The spam tweets are tweets from authors identified preciously as automated accounts that post tweets that do not contain actual sentiment toward the associated technology.

In [12]:
%%sql
WITH spam_tweets AS(

SELECT
	*,
	CASE WHEN tweet.technology_id = 6 THEN 'Flutter' WHEN tweet.technology_id = 16 THEN 'GoLang' ELSE '' END AS tech 
FROM
	tweet
WHERE
	tweet.username IN('1011565812', '1490214721131540480', '183984039', '1401391924754325512')

)

SELECT
	tech,
	count(*) AS PossibleSpam
FROM 
	spam_tweets
WHERE 
	tech != ''
GROUP BY 
	tech;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
2 rows affected.

[('Flutter', 276), ('GoLang', 7)]

This result indicates that a sizable portion of the tweets (around 20 percent for flutter) are from automated authors. Further analysis should filter these results out of the result set. The same is not true for GoLang however, meaning the engagments per tweet metric for GoLang is likley more accurate.

The next query analyzes overlapping tweets being counted towards the aggregate metrics for Flutter and GoLang. Tweets referencing multiple different languages or frameworks should not be fully counted towards a single technology, and thus their inclusing could skew results. This query identifies if this effect is significant or not based on how many overlapping tweets are in each set.

In [17]:
%%sql
WITH `overlaps` AS (

SELECT
	tweet.id,
	`name` AS Technology,
	username,
	url AS path,
	CASE WHEN (SELECT COUNT(*) FROM tweet WHERE url = path) > 1 THEN 1 ELSE 0 END AS overlap
FROM
	tweet JOIN technology on tweet.technology_id = technology.id
)

SELECT Technology, count(*) AS OverlappingTweets 
	FROM 
		overlaps 
	WHERE 
		Technology IN ('Flutter', 'GoLang') AND overlap = 1 
	GROUP BY 
		Technology;

 * mysql://admin:***@lmu-dev-011.cwuw28ktwpbp.us-east-2.rds.amazonaws.com/PortfolioProject
2 rows affected.

[('Flutter', 600), ('GoLang', 222)]

The results show that there is considerable overlap in tweets being analysed for Flutter and GoLang. This could possibly be effecting the engagments per tweet metric, as engagments are being counter on tweets that mention more than just Flutter and GoLang. For future analysis, this data should be filtered out or otherwise handled.